.App {
  text-align: left;
  width: 100vw;
  background: linear-gradient(to left, #263238, #37474F, #455A64);
}

.App-logo {
  animation: App-logo-spin 1200s infinite alternate-reverse;
  color: white;
  height: 40px;
  padding: 5px 5px 5px 5px;
  box-shadow: 3px 3px 3px 3px #212121;
}

.App-header {
  background: linear-gradient(to left, #263238, #37474F, #455A64);
  height: 5vh;
  width: 100vw;
  padding: 20px;
  color: white;
}

.checkbox {
  margin-left: 10px;
  padding-top: 10px;
}

.App-intro {
  border-top: 1px inset #CFD8DC;
  font-size: large;
  padding-top: 5px;
  padding-left: 5vw;
  color: #E0E0E0;
}

.cardlist {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 20%;
}
.cardsleft {
  width: 70%;
  margin-left: 20px;
}
.cardsright {
  width: 70%;
  margin-left: 20px;  
  margin-right: 20px;
  flex-basis: 40%;
}
.card {
}
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
.gobutton {
  color: whitesmoke;
  height: 50px;
  width: 250px;
  border-radius: 20%;
  background-image: radial-gradient(circle at 50% -46%, #6B6660, #084A12);
}

@keyframes App-logo-spin {
  from { transform: translateX(80%); }
  to { transform: translateX(5%); }
}

@media(min-width: 500px) {
  .App-logo {
    height: 50px
  }
  .App-header {
    height: 7vh;
  }
}
@media(min-width: 750px) {
  .App-logo {
    height: 60px
  }
  .App-header {
    height: 9vh;
  }
}